@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #E98935;
}

h1 {
    padding: 20px 0px;
    text-align: center;
    color: white;
}

section#filho {
    background-color: white;
    width: 550px;
    height: 350px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.336);
}

div#res {
    font-weight: bold;
    font-size: 1.2em;
}

img {
    width: 250px;
    border-radius: 50%;
}


footer {
    text-align: center;
    margin-top: 25px;
    color: white;
}